<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Book Flights{% endblock %}
{% block links_n_scripts %}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
{% endblock %}
{% block body_block %}
<div class = "jumbotron">
<!-- <h3>PASSENGER {{ name.passenger }}</h3>
    <form method="post">
      {% csrf_token %}
      {% for message in messages %}

              <div class="alert alert-danger">
                  {{ message }}
              </div>
      {% endfor %}
      <div><label for="username">First Name:</label>
      <input type="text" name="username" placeholder="Enter First Name" class="form-control"></div>
    <div><br>
      <label for="password">LastName:</label>
       <input type="text" name="password" class="form-control" placeholder="Enter LastName">
    </div><br>
    <label for="password">Age:</label>
     <input type="password" name="password" class="form-control" placeholder="Enter Age"><br>
     <label for="password">Sex:</label>
      <input type="password" name="password" class="form-control" placeholder="Enter Male/Female">
      <br>
      <input class= "btn btn-lg btn-primary" type="submit" value="Login">
    </form> -->

  <h1> Congratulations for selecting your flight {{ flights.flight_no }}<h1>
  <h3>Proceed to fill passenger details by clicking here:</h3>
  <a href="{% url 'airline3app:passenger_info'%}">  <button class = "btn btn-primary"type="submit"> Book </button></a>
</div>
{% endblock %}
