<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}INDEX{% endblock %}
{% block links_n_scripts %}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
{% endblock %}
{% block body_block %}
<div class="container jumbotron">
  <form method="post">
    {% bootstrap_form form %}
    {% csrf_token %}
    <button class = "btn btn-primary"type="submit"> Search </button>
  </form>
</div>
{% endblock %}
