<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}
<div class="form-group jumbotron" style="margin: 100px 300px;">
  <form action="{% url 'airline3app:user_login' %}" method="post">
    {% csrf_token %}
    {% for message in messages %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}
    <h1 align="center">Login</h1>
    <div>
      <input type="text" name="username" placeholder="Enter Username" class="form-control">
    </div>
    <br>
    <div>
      <input type="password" name="password" class="form-control" placeholder="Enter Password">
    </div>
    <br>
    <div class="col-md text-center">
      <input class="btn btn-lg btn-primary" type="submit" value="Login">
    </div>
  </form>
</div>
{% endblock %}