<!DOCTYPE html>
{% block title %}Passenger {{ num }}{% endblock %}
{% block links_n_scripts %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ passenger_details.media }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( ".datepicker" ).datepicker();
} );
</script>
{% endblock %}
{% block body_block %}
<div class="jumbotron">
  <h1>Passenger {{ num }}</h1>
  <form method="post">
    {% bootstrap_form passenger_details %}
    {% csrf_token %}
  <button class = "btn btn-primary"type="submit"> Search </button>
  </form>
</div>
{% endblock %}