<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'base' %}">The Indian Peacock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin<span class="sr-only">(current)</span></a>
      </li>


      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Search Flights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ticket_list' %}">My Tickets</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'airline3app:register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'airline3app:user_login' %}">Login</a>
      </li>
        {% endif %}
      </div>
      </nav>
      <br>
      <div class="container jumbotron">
        <div class='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4'>
              <form method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                  {% csrf_token %}
                <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Name on Card</label>
                    <input class='form-control' size='40' type='text'>
                  </div>
                </div>

                <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Card Number</label>
                    <input class='form-control' size='40' type='text'>
                  </div>
                </div>

                <div class='form-row'>
                  <div class='col-xs-4 form-group cvc required'>
                    <label class='control-label'>CVC</label>
                    <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='6' type='text'>
                  </div>
                  <div class='col-xs-4 form-group expiration required'>
                    <label class='control-label'>Expiration</label>
                    <input class='form-control card-expiry-month' placeholder='MM' size='6' type='text'>
                  </div>
                  <div class='col-xs-4 form-group expiration required'>
                    <label class='control-label'> </label>
                    <input class='form-control card-expiry-year' placeholder='YYYY' size='7' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-md-12'>
                    <div class='form-control total btn btn-info'>
                      Total:
                      <span class='amount'>Rs. {{ price }}</span>
                    </div>
                  </div>
                </div><br>
                <div class='form-row'>
                  <div class='col-md-12 form-group'>
                  <a href="{% url 'congrats' %}"><button class='form-control btn btn-primary submit-button' type='submit'><i>Pay »</i></button></a>
                  </div>
                </div>
              </form>
        </div>
    </div>
  </body>
</html>
