<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block links_n_scripts %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ user_form.media }}
{{ profile_form.media }}
{% endblock %}
{% block register %}{% endblock %}
{% block body_block %}
<div class = "form-group jumbotron jumbotron-translucent" style="margin: 100px 200px;">
  {% if registered %}
    <h1>Thank You!</h1>
  {% else %}
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <h1 align="center" style="color: white; font-family: 'Quicksand', sans-serif;">Register</h1>
      <hr>
      <div align="center" style="color: white;">
      Those marked with * are required to be filled.
      </div>
      {% bootstrap_form user_form %}
      {% bootstrap_form profile_form %}
      <input class='btn btn-primary' type='submit' value="Register"></input>
    </form>
  {% endif %}
</div>
{% endblock %}
