<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Tickets{% endblock %}
{% block links_n_scripts %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block body_block %}
{% if ticket %}
  {% for ticket in ticket %}
    <div class="jumbotron">
      <h3>PNR: {{ ticket.PNR }}<h3>
      <h4>{{ ticket.src }}  <i class="fas fa-arrow-right fa-sm"></i> {{ ticket.dest }}</h4>
      <h4>{{ ticket.Date }}</h4>
      <a href="{% url 'my_tickets' pk=ticket.pk %}">  <button class = "btn btn-primary"type="submit"> SHOW </button></a>
    </div>
  {% endfor %}
{% else %}
  <h1 style="color: #efefef;">NO TICKETS</h1>
{% endif %}
{% endblock %}